ion-col {
    border: solid 1px #fff;
    text-align: center;
}

ion-grid {
    margin: 20px;
}

.days {
    font-size: xx-small;
    font-weight: 300;
}

.dates {
    margin-bottom: 20px;
}

.dates .today {
    font-weight: bolder;
    color: lightcoral;
    border-bottom: dashed 1px;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: lightcoral;
    margin: auto;
    text-align: center;
    position: relative;
    color: #fdfdfd;
    font-weight: bolder;
}

.circle .header {
    padding-top: 20%;
}

.circle .subheader {
    font-size: larger;
}

.circle .emoji {
    font-size: 400%;
}

.circle ion-button {
    --background: #fdfdfd;
    --color: lightcoral;
    font-weight: bold;
}

ion-item {
    --padding: 0;
    font-size: 65%;
}

.header {
    text-align: center;
}

.modal-subheader {
    text-align: center;
    margin-top: 10%;
    color: #424242;
}

.mood-scale-rate {
    color: #424242;
}

.mood-emojis {
    margin-bottom: 20px;
    font-size: 200%;
}

.mood-emoji:active {
    background-color: #c9c9c9;
    border-radius: 25px;
}

.mood-scale {
    font-size: 75%;
}
