ion-col {
    border: solid 1px #fff;
    text-align: center;
}

.weekly-calendar {
    margin: 20px;
}

.weekly-calendar .labels {
    font-size: xx-small;
    font-weight: 300;
}

.weekly-calendar .dates {
    margin-bottom: 20px;
}

.weekly-calendar .dates .today {
    font-weight: bolder;
    color: lightcoral;
    border-bottom: dashed 1px;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: lightcoral;
    margin: auto;
    text-align: center;
    position: relative;
    color: #fdfdfd;
    font-weight: bolder;
}

.circle .header {
    padding-top: 20%;
}

.circle .subheader {
    font-size: larger;
}

.circle .emoji {
    font-size: 400%;
}

.circle ion-button {
    --background: #fdfdfd;
    --color: lightcoral;
    font-weight: bold;
}
